*,
*::before,
*::after {
    margin:0;
    padding: 0%;
    box-sizing: border-box;
}

html{
    font-family: Helvetica;
    font-size: 70%;
    background-image:linear-gradient(to bottom right,pink,purple,dodgerblue,slateblue,blue);
    
}
.main{
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    place-items: center;
}




.music_container { 
    width: 35rem;
    height: 55rem;
    background-color: beige;
    border-radius: 3rem;
    box-shadow: 0 1.2rem 3rem 0.5 rem rgba(0, 0, 0, 0.2);
    padding: 3rem;
    text-align: center;
    
}

.music_container #title {
    text-transform:inherit;
    word-spacing: 0.5rem;
    letter-spacing: 0.2rem;
    color: rgb(7, 7, 7);
    margin: 2rem 0 0.5rem 0;
    font-size: 2.5rem;
    font-weight: 500;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
}

.music_container #artist {
    text-transform:capitalize;
    letter-spacing: 0.2rem;
    color: rgb(150, 91, 91);
    margin-top: 1rem;
    margin-bottom: 3rem;
    font-size: 2rem;
    font-weight: 300;
  
}
.img_container {
    width: 25rem;
    height: 25rem;
    margin:auto;

}
img {
    width: 100%;
    height: 100%;
    border-radius:50%;
    object-fit: cover;
    box-decoration-break: slice;

}
.progressbar {
    width: 100%;
    height: auto;
    padding: 1rem 0;
    margin-top: 2rem;

}

.progress_div{
    width: 100%;
    height: 0.5rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
        0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
        0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
    border-radius: 4rem;
    position: relative;
    margin-top: 0.5rem;
    transition: all 1s linear;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    -webkit-transition: all 1s linear;
    cursor:pointer;
    -webkit-appearance: none;
    appearance: none;
}
.progress{
    position: absolute;
    top: 0;
    left:0;
    width: 0%;
    background-color:blue;
    height: 100%;
    border-radius: 4rem;
    transition: width 1s linear;
    -moz-transition: width 1s linear;
    -o-transition: width 1s linear;
    -webkit-transition: width 1s linear;
    cursor:pointer;
    -webkit-appearance: none;
    appearance: none;

}
.progress-duration{
    display: flex;
    justify-content: space-between;
    font-size:1.5rem;
}
.controls {
    width:20rem;
    display:flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 3rem;
    align-items: center;
}
.material-icons {
    font-size: 2rem;
    cursor: pointer;
    color: black;
    filter:drop-shadow(0 1.2rem 3rem 0.5rem rgba(0,0,0,0.4));
    
}
.controls #play {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: black;
    color: white;
    font-size:2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.material-icons:hover{
    color: violet;
}
.controls #play:hover{
    background-color: wheat;
    color: black;
    box-shadow: 0 1rem 2rem 0.2rem rgba(0,0,0,0.4);
}
.anime{
    animation:rotate 3s linear  infinite  ;
}
@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}